*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: lightblue;

}

.datepicker{
  width: 350px;
  margin: 100px auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.month-year{
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.days-row, .dates-row{
  display: flex;
}

.day-name{
  color: blue;
  width: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.date-box{
  width: 50px;
  height: 40px;
  line-height: 40px;
}

.today{
  background-color: lightblue;
  border-radius: 10px;
}